body {
    background-color: seashell;
}

.span {
    color:rgb(109, 151, 168);
}

button {
    background-color:rgb(109, 151, 168);
    color: black;
    padding: 5px
}

span a {
    color: #457b9d;
}

.post a {
    color: #457b9d;
}